// Module for handeling the header
@import '../partials/colors';
@import '../partials/font';
@import '../partials/assets';
@import '../modules/misc.scss';
@import '../partials/keyframes';
// Header box
.main-header {
  margin-top:0px;
  padding-top: 0; 
  height: 400px;
  width: 100%;
  background-color: $header-background-color;
  background-image: $header-image;
  box-shadow: $box-shadow;
}
// Profile picture
.image {
  padding-top: 100px;
  width: 250px;
  border-radius: 50%;
  box-shadow: $profile-pic-shadow;
  transition: transform .5s ease;
}
.image:hover {
  animation: shake 1.0s;
  animation-iteration-count: infinite;
}
.center {
  @extend %center;
}
.white-text {
  color: $contrast-color;
}