// Module for handeling new tweet section
@import '../partials/colors';
@import '../partials/font';
@import '../partials/keyframes';
// New tweet box
.new-tweet {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.input-tweet {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 4px solid black;
  height: 45px;
  padding-left: 10px;
  outline: none;
  resize: none;
  font-size: $smallx2-size-font;
}
.input-tweet::-webkit-input-placeholder {
  color: $anticontrast-color;
  font-weight: bold;
}
.bungee {
  font-family: $theme-font;
}
.label-counter {
  color: $anticontrast-color;
  float: right;
  margin-right: 10px;
}
// Submit new tweet button
.button-new-tweet {
  color: $contrast-color;
  background-color: $navbar-color;  
  font-size: $small-size-font;
  float: left;
  margin-left: 10px;
  background: $navbar-color;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: none;
}
// Submit new tweet glowing styling
.button-new-tweet:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.button-new-tweet:active {
  color: $navbar-color;
}
.button-new-tweet:active:after {
  background: transparent;
}
.button-new-tweet:hover:before {
  opacity: 1;
}
.button-new-tweet:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $navbar-color;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-new-tweet:focus {outline:0;}