nav {
  background-color: #4056A1;
  height: 120px;
  color: #FFF;
  padding: 1.5em;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  align-items: center;
}

.logo {
  font-family: Bungee;
  color: white;
  font-size: 40pt;
}

.add-new-tweet {
  display: flex; 
  align-items:center;
}

.no-link {
  text-decoration: none;
  color:white;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

#go-to-sky {
  display: none;
  background-color: rgb(177, 52, 43);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  margin: 30px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  transition: background-color .3s;
  z-index: 1000;
  opacity: 0.5;
}
#go-to-sky:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  opacity: 0.7;
}
#go-to-sky:active {
  background-color: #555;
}

#go-to-sky::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 22pt;
  line-height: 50px;
  color: #fff;
}

.show {
  display: flex;
  opacity: 1.0;
}