nav {
  background-color: #4056A1;
  height: 120px;
  color: #FFF;
  padding: 1.5em;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  align-items: center;
}

.logo {
  font-family: Bungee;
  color: white;
  font-size: 40pt;
}