// Color dictionary for the entire website
$primary-color: #545149;
$primary-background-color: #f4f1ec;
$navbar-color: #4056A1;
$accent-color-primary: rgb(255, 0, 0);
$accent-color-secondary: rgb(177, 52, 43);
$contrast-color: white;
$anticontrast-color: black;
$shadow-color: #555;
$no-color: transparent;
$header-background-color: #eb9500;
$profile-pic-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
$box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.2);
$light-color: rgb(167, 167, 27);
$error-color:#ce4136;
$navbar-gradient: linear-gradient(to right, #373b44, #4286f4);