$primary-color: #545149;
$primary-background-color: #f4f1ec;
$navbar-color: #4056A1;
$accent-color-primary: rgb(255, 0, 0);
$accent-color-secondary: rgb(177, 52, 43);
$contrast-color: white;
$shadow-color: #555;
$no-color: transparent;
$header-background-color: #eb9500;
$header-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.2);