// All the fonts and font sizes used in the project
$primary-font: Source Sans Pro, sans-serif;
$primary-font-size: 24px;
$theme-font: Bungee;
$medium-size-font: 20pt;
$small-size-font: 18pt;
$smallx2-size-font: 16pt;